<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=date%></h1>
    </div>

    <div class="box">
      <ul>
        <%taskArr.map(task => {%>
        <div class="item">
          <input type="checkbox" />
          <p><%=task%></p>
        </div>
        <%})%>
      </ul>

      <form action="/" class="item" method="post">
        <input autocomplete="off" name="newItem" type="text" placeholder="Enter task" />
        <button class="btn" type="submit">+</button>
      </form>
    </div>

  </body>
</html>
